.header-nav-burger{
    display:none;
}

.header-nav-links{
    display:inline-block;
}

@media only screen and (min-width: 769px){
    .header-nav-burger, .header-nav-mobile, .header-nav-links-mobile{
        display:none;
    }
}
@media only screen and (max-width: 768px){
    .header-logo {
        display:none;
    }
    .header-nav-burger{
        display:block;
    }
    .header-nav-burger button{
        display:block;
    }
    .header-nav-links{
        display:none;
    }

}

@media only screen and (max-width: 468px){
    .header-nav{
        display:block;
    }
}