<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <a href="https://blz.one/">
            <img src="https://blazed.sirv.com/logo/BLZ-blue.png?w=75&h=75">
        </a>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/" routerLinkActive="active" class="mr-5 hover:text-gray-900">
            Home
        </a>
        <a routerLink="/services" routerLinkActive="active" class="mr-5 hover:text-gray-900">
            Services
        </a>
        <a routerLink="/products" routerLinkActive="active" class="mr-5 hover:text-gray-900">
            Products
        </a>
      </nav>
      <app-login></app-login>
    </div>
</header>