.is-active {
    color: #4d29ba;
    text-decoration: underline;
}
@media only screen and (max-width: 770px) {
    .login-button{
        text-align: center;
    }
    .menu-seperator {
        display:none;
    }
}