
.twitter:hover{
    color: #1DA1F2;
}
.youtube:hover{
    color:#FF0000;
}
.facebook:hover{
    color: #4267B2;
}

.dark .twitter:hover, .dark .youtube:hover, .dark .facebook:hover{
    color:#ffffff;
}