
.nav-top{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D7DDE8, #8b96b5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D7DDE8, #8b96b5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.7);
}
.dark .nav-top{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-top a{
    color: rgba(0,0,0,0.9);
}
.dark .nav-top a{
    color: rgba(255,255,255,0.9);
}
.nav-top a:hover{
    color: rgba(0,0,0,0.6);
}
.dark .nav-top a:hover{
    color: rgba(255,255,255,0.6);
}
.nav-top a:active{
    color: rgba(255,255,255,0.5);
}
.nav-drawer, .dropdown-content, .drawer{
    z-index:99999;
}

.dark .drawer-menu{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark .drawer-menu a{
    color:rgba(255,255,255,0.8);
}

.dark .drawer-menu a:active{
    background:rgba(255,255,255,0.1);
}