<div *ngIf="auth.isLoading$ | async; else loaded">
  <app-loading></app-loading>
</div>
<ng-template #loaded>
  <section class="blz-app">
      <div class="px-4 py-3 text-white bg-indigo-600">
        <p class="text-sm font-medium text-center">
          The One Solution is a selection of services offered by Blazed Labs.
          <a class="underline" href="https://www.blazedlabs.com/blazed-one-solution/"> Learn More &rarr; </a>
        </p>
      </div>
      <app-header></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
  </section>
</ng-template>