<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-wrap w-full mb-10">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
              Our Products and Platforms
          </h1>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
            You're in good company with Blazed; our products and platforms are designed with user experience at the forefront, because it is an honor to serve the public.
        </p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
            <a target="_products" href="https://blazed.games/">
                <div class="transition duration-150 ease-in-out bg-gray-100 hover:bg-gray-600 hover:text-white p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://blazed.sirv.com/blazed.space/dennys-hess-Gt_4iMB7hY0-unsplash.jpg?w=720&h=400" alt="content">
                    <h3 class="tracking-widest text-xs font-medium title-font">
                        GAMES
                    </h3>
                    <h2 class="text-lg font-medium title-font mb-4">
                        Concrete Games
                    </h2>
                    <p class="leading-relaxed text-base">
                        Play, share, and develop games within our friendly community and ecosystem. Developers and gamers welcome.
                    </p>
                </div>
            </a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a target="_products" href="https://blazed.space/">
            <div class="transition duration-150 ease-in-out bg-gray-100 hover:bg-gray-600 hover:text-white p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://blazed.sirv.com/blazed.space/erol-ahmed-d3pTF3r_hwY-unsplash.jpg?w=720&h=400" alt="content">
                <h3 class="tracking-widest text-xs font-medium title-font">
                    SOCIAL
                </h3>
                <h2 class="text-lg font-medium title-font mb-4">
                    Blazed Space
                </h2>
                <p class="leading-relaxed text-base">
                    Discover a social network like no other, integrated with your favorite platforms, but still blazingly unique.
                </p>
            </div>
          </a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <a target="_products" href="https://blazed.watch/">
            <div class="transition duration-150 ease-in-out bg-gray-100 hover:bg-gray-600 hover:text-white p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://blazed.sirv.com/blz.one/tyler-lastovich-yz3Lt5Kwdi8-unsplash.jpg?w=720&h=400" alt="content">
                <h3 class="tracking-widest text-xs font-medium title-font">
                    VIDEOS
                </h3>
                <h2 class="text-lg font-medium title-font mb-4">
                    Blazed Watch
                </h2>
                <p class="leading-relaxed text-base">
                    A video and film sharing platform with a focus on viewing experience. Watching just became fun again.
                </p>
            </div>
          </a>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
            <a target="_products" href="https://blazed.world/">
            <div class="transition duration-150 ease-in-out bg-gray-100 hover:bg-gray-600 hover:text-white p-6 rounded-lg">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://blazed.sirv.com/blazed.city/jonathan-roger-LY1eyQMFeyo-unsplash.jpg?w=720&h=400" alt="content">
                <h3 class="tracking-widest text-xs font-medium title-font">
                    VIRTUAL WORLD
                </h3>
                <h2 class="text-lg font-medium title-font mb-4">
                    Blazed World
                </h2>
                <p class="leading-relaxed text-base">
                    You've never seen a world like this one. Meet up with friends, show off your cool stuff, and help build your kingdom.
                </p>
            </div>
            </a>
        </div>
      </div>
    </div>
  </section>
  <div class="h-1 bg-gray-200 rounded overflow-hidden"></div>