<section class="text-gray-600 body-font p-20 pt-5 services-page">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="https://blazed.sirv.com/ibis/blazed-tel.jpg?w=600&h=600">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
              Communications
          </h2>
          <p class="text-base leading-relaxed mt-2">
              We offer telephone solutions that'll blow your socks off. Blazing speeds, fair prices, and a range of service tiers for business and personal use.  
          </p>
          <a href="https://blazed.tel/" target="_services" class="text-indigo-500 inline-flex items-center mt-3 hover:text-indigo-600">
              Get Connected
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="https://blazed.sirv.com/ibis/blazed-xyz.jpg?w=600&h=600">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
              Publishing
          </h2>
          <p class="text-base leading-relaxed mt-2">
              No matter what medium you're working in, we can help you get it published and distributed. Whether it be text, media, or application.
          </p>
          <a href="https://blazed.xyz/" target="_services" class="text-indigo-500 inline-flex items-center mt-3 hover:text-indigo-600">
              Get Reading
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="https://blazed.sirv.com/ibis/blazed-quest.jpg?w=600&h=600">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
              Networking
          </h2>
          <p class="text-base leading-relaxed mt-2">
              We offer cloud networking and hosting solutions; get yourself a fresh, fast, and managed server instance or cluster.
          </p>
          <a href="https://blazed.systems/" target="_services" class="text-indigo-500 inline-flex items-center mt-3 mr-5 hover:text-indigo-600">
            Get Rolling
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="h-1 bg-gray-200 rounded overflow-hidden"></div>