<article>
<div class="text-gray-600 body-font p-20 pt-5 services-page mt-5">
    <div class="px-1 mx-auto">
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <a href="https://blazed.tel/" target="_services" class="group">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="https://blazed.sirv.com/ibis/blazed-tel.jpg?w=600&h=600">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
              Communications
          </h2>
          <p class="text-base leading-relaxed mt-2">
              We offer telephone solutions that'll blow your socks off. Blazing speeds, fair prices, and a range of service tiers for business and personal use.  
          </p>
          <span href="https://blazed.tel/" target="_services" class="text-indigo-500 inline-flex items-center mt-3 group-hover:underline group-hover:text-indigo-600">
              Get Connected
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </span>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <a href="https://blazed.xyz/" target="_services" class="group">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="https://blazed.sirv.com/ibis/blazed-xyz.jpg?w=600&h=600">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
              Publishing
          </h2>
          <p class="text-base leading-relaxed mt-2">
              No matter what medium you're working in, we can help you get it published and distributed. Whether it be text, media, or application.
          </p>
          <span href="https://blazed.xyz/" target="_services" class="text-indigo-500 inline-flex items-center mt-3 group-hover:underline group-hover:text-indigo-600">
              Get Reading
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </span>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <a href="https://blazed.systems/" target="_services" class="group">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="https://blazed.sirv.com/ibis/blazed-quest.jpg?w=600&h=600">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
              Networking
          </h2>
          <p class="text-base leading-relaxed mt-2">
              We offer cloud networking and hosting solutions; get yourself a fresh, fast, and managed server instance or cluster.
          </p>
          <span href="https://blazed.systems/" target="_services" class="text-indigo-500 inline-flex items-center mt-3 mr-5 group-hover:underline group-hover:text-indigo-600">
            Get Rolling
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="h-1 bg-gray-200 rounded overflow-hidden"></div>
  <br />

  <aside>
    <div class="px-4 py-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:h-screen">
        <div class="relative z-10 lg:py-16">
          <div class="relative h-64 sm:h-80 lg:h-full">
            <img
              class="absolute inset-0 object-cover w-full h-full shadow-lg"
              src="https://blazed.sirv.com/logo/interactive-ibis.png"
              alt="Ibis interactive"
            />
          </div>
        </div>
  
        <div class="relative flex items-center bg-gray-100">
          <span
            class="hidden lg:inset-y-0 lg:absolute lg:w-16 lg:bg-gray-100 lg:block lg:-left-16"
          ></span>
  
          <div class="p-8 sm:p-16 lg:p-24">
            <h2 class="text-2xl font-bold sm:text-3xl">
              We also build software
            </h2>
  
            <p class="mt-4 text-gray-600">
              Custom software made to target a variety of platforms and we can also install/manage it as well! Get in contact to
              see how we can help turn your Dreams into Reality.
            </p>

            <p class="mt-6 text-gray-800">
              Email:
              <a class="text-indigo-800 hover:underline" href="mailto:hello@blazed.space">
                hello@blazed.space
              </a>
            </p>
            <p class="mt-2 text-gray-800">
              Phone:
              <a class="text-indigo-800 hover:underline" href="tel:+18557882348">
                +1 (855) 788-2348
              </a>
            </p>
  
            <a
              class="inline-block px-12 py-3 mt-8 text-sm font-medium text-white bg-indigo-600 border border-indigo-600 rounded active:text-indigo-500 hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring"
              href="https://blazed.contact/"
              target="_blank"
            >
              Get in Touch
            </a>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <br />
  <div class="h-1 bg-gray-200 rounded overflow-hidden"></div>
  <br />
</article>