.is-active{
    /*
    bg-gray-100 border-indigo-500 text-indigo-500 rounded-t
    */
    background: #333;
    color: #fff;
}

.menu-divider{
    margin-top: -84px;
    background: #333;
}

@media only screen and (max-width: 640px) {
    .menu-divider{
        display:none;
    }
}