<ng-container *ngIf="auth.user$ | async as user">
    <section>
        <div class="relative max-w-3xl mt-5 mx-auto text-center">
            <span class="absolute inset-x-0 h-px -translate-y-1/2 bg-black top-1/2"></span>
            <h2 class="relative inline-block px-4 text-2xl font-bold text-center bg-white">
                <i>
                    <svg class="mb-1" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7 13.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm-3 1a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2zm0 4a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                    </svg>
                </i>
                Table of Contents
            </h2>
        </div>
        <ul class="text-center max-w-xs mt-5 relative mx-auto">
            <li class="py-3">
                <a href="/user/profile#posts" class="hover:underline">
                    &bull; Recent Posts
                </a>
            </li>
            <li class="py-3">
                <a href="/user/profile#releases" class="hover:underline">
                   &bull; Popular Releases
                </a>
            </li>
            <li class="py-3">
                <a href="/user/profile#documents" class="hover:underline">
                    &bull; Documents
                </a>
            </li>
            <li class="py-3">
                <a href="/user/profile#films" class="hover:underline">
                    &bull; Films
                </a>
            </li>
        </ul>
    </section>
    <section class="my-10" id="user-profile-software">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="relative max-w-3xl mx-auto text-center">
                <span class="absolute inset-x-0 h-px -translate-y-1/2 bg-black top-1/2"></span>
                <h2 id="posts" class="relative inline-block px-4 text-2xl font-bold text-center bg-white">
                    <i>
                        <svg class="mb-1" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.207 13.293L7.5 14a5.5 5.5 0 110-11h5a5.5 5.5 0 110 11s-1.807 2.169-4.193 2.818C7.887 16.933 7.449 17 7 17c.291-.389.488-.74.617-1.052C8.149 14.649 7.5 14 7.5 14c.707-.707.708-.707.708-.706h.001l.002.003.004.004.01.01a1.184 1.184 0 01.074.084c.039.047.085.108.134.183.097.15.206.36.284.626.114.386.154.855.047 1.394.717-.313 1.37-.765 1.895-1.201a10.266 10.266 0 001.013-.969l.05-.056.01-.012m0 0A1 1 0 0112.5 13a4.5 4.5 0 100-9h-5a4.5 4.5 0 000 9 1 1 0 01.707.293" clip-rule="evenodd"/>
                        </svg>
                    </i>
                    Recent Posts
                </h2>
            </div>
            <div class="grid grid-cols-1 mt-8 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-8">
                <article class="p-1 shadow-xl rounded-2xl bg-gradient-to-r from-gray-400 to-gray-600">
                    <a href="" class="flex flex-col justify-end h-full p-6 bg-gray-200 sm:p-8 rounded-xl hover:bg-opacity-90">
                      <div class="mt-16">
                        <p class="text-xs font-medium text-gray-500">
                          26/05/2021
                        </p>
                        <h5 class="mt-2 text-xl font-bold text-gray-500">
                          Custom Helper to Improve the Rails phone_to Helper
                        </h5>
                        <div class="flex items-center justify-between mt-6">
                          <p class="text-lg font-medium text-transparent bg-clip-text bg-gradient-to-r from-gray-500 to-gray-600">
                            Rails
                          </p>
                          <ul class="flex space-x-1">
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Snippet
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Info
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Tip
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </article>
                  <article class="p-1 shadow-xl rounded-2xl bg-gradient-to-r from-gray-400 to-gray-600">
                    <a href="" class="flex flex-col justify-end h-full p-6 bg-gray-200 sm:p-8 rounded-xl hover:bg-opacity-90">
                      <div class="mt-16">
                        <p class="text-xs font-medium text-gray-500">
                          26/05/2021
                        </p>
                        <h5 class="mt-2 text-xl font-bold text-gray-500">
                          Custom Helper to Improve the Rails phone_to Helper
                        </h5>
                        <div class="flex items-center justify-between mt-6">
                          <p class="text-lg font-medium text-transparent bg-clip-text bg-gradient-to-r from-gray-500 to-gray-600">
                            Rails
                          </p>
                          <ul class="flex space-x-1">
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Snippet
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Info
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Tip
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </article>
                  <article class="p-1 shadow-xl rounded-2xl bg-gradient-to-r from-gray-400 to-gray-600">
                    <a href="" class="flex flex-col justify-end h-full p-6 bg-gray-200 sm:p-8 rounded-xl hover:bg-opacity-90">
                      <div class="mt-16">
                        <p class="text-xs font-medium text-gray-500">
                          26/05/2021
                        </p>
                        <h5 class="mt-2 text-xl font-bold text-gray-500">
                          Custom Helper to Improve the Rails phone_to Helper
                        </h5>
                        <div class="flex items-center justify-between mt-6">
                          <p class="text-lg font-medium text-transparent bg-clip-text bg-gradient-to-r from-gray-500 to-gray-600">
                            Rails
                          </p>
                          <ul class="flex space-x-1">
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Snippet
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Info
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Tip
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </article>
                  <article class="p-1 shadow-xl rounded-2xl bg-gradient-to-r from-gray-400 to-gray-600">
                    <a href="" class="flex flex-col justify-end h-full p-6 bg-gray-200 sm:p-8 rounded-xl hover:bg-opacity-90">
                      <div class="mt-16">
                        <p class="text-xs font-medium text-gray-500">
                          26/05/2021
                        </p>
                        <h5 class="mt-2 text-xl font-bold text-gray-500">
                          Custom Helper to Improve the Rails phone_to Helper
                        </h5>
                        <div class="flex items-center justify-between mt-6">
                          <p class="text-lg font-medium text-transparent bg-clip-text bg-gradient-to-r from-gray-500 to-gray-600">
                            Rails
                          </p>
                          <ul class="flex space-x-1">
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Snippet
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Info
                            </li>
                            <li class="inline-block rounded-full text-white text-xs font-medium px-3 py-1.5 bg-gray-800">
                              Tip
                            </li>
                          </ul>
                        </div>
                      </div>
                    </a>
                  </article>



            </div>
        </div>
        <div class="more-button mt-10">
            <a href="/posts/by-user/{{ user.name | removeSpaces }}" class="px-8 py-3 font-semibold rounded bg-gray-700 hover:bg-gray-800 text-white">
                <i>
                    <svg width="25" height="25" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 4.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H4zM5 5H4v1h1V5z" clip-rule="evenodd"/>
                        <path d="M7 5.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM7.5 9a.5.5 0 000 1h9a.5.5 0 000-1h-9zm0 4a.5.5 0 000 1h9a.5.5 0 000-1h-9z"/>
                        <path fill-rule="evenodd" d="M3.5 9a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5V9zM4 9h1v1H4V9zm0 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5H4zm1 .5H4v1h1v-1z" clip-rule="evenodd"/>
                    </svg>
                </i>
                View All Posts
            </a>
        </div>
    </section>
    <section class="my-10" id="user-profile-software">
        <div class="max-w-screen-xl px-4 py-8 mx-auto">
            <div class="relative max-w-3xl mx-auto text-center">
                <span class="absolute inset-x-0 h-px -translate-y-1/2 bg-black top-1/2"></span>
                <h2 id="releases" class="relative inline-block px-4 text-2xl font-bold text-center bg-white">
                    <i>
                        <svg class="mb-1" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 4H4a1 1 0 00-1 1v10a1 1 0 001 1h12a1 1 0 001-1V5a1 1 0 00-1-1zM4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M17 8H3V7h14v1z" clip-rule="evenodd"/>
                            <path d="M5 5.5a.5.5 0 11-1 0 .5.5 0 011 0zm1.5 0a.5.5 0 11-1 0 .5.5 0 011 0zm1.5 0a.5.5 0 11-1 0 .5.5 0 011 0z"/>
                        </svg>
                    </i>
                    Popular Releases
                </h2>
            </div>
            <div class="grid grid-cols-1 mt-8 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-8">
                <article>
                    <a href="/product/build-your-own-drone" class="relative block border border-gray-100 pt-8">
                        <button type="button" name="wishlist" class="absolute p-2 pt-1 text-white bg-black hover:bg-gray-800 rounded-full right-4 top-4">
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                            </svg>
                        </button>
            
                        <img alt="Ibis -- Concrete Games Desktop" class="object-contain w-full h-56" src="https://blazed.sirv.com/ibis/blazed-games.jpg?h=250&w=250"/>
            
                        <div class="p-6">
                            <p class="text-sm font-medium text-gray-600 uppercase">
                                Games - Desktop
                            </p>
            
                            <h5 class="mt-1 text-lg font-bold">
                                Awesome FPS Game
                            </h5>
            
                            <button name="add" type="button" class="flex items-center justify-center w-full px-6 py-2 mt-10 bg-red-700 hover:bg-red-800 text-white rounded-sm">
                                <span class="text-sm font-medium">
                                    Download
                                </span>
                                <svg class="w-5 h-5 ml-2" width="22" height="22" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.5 10a.5.5 0 01.5.5V14a1 1 0 001 1h12a1 1 0 001-1v-3.5a.5.5 0 011 0V14a2 2 0 01-2 2H4a2 2 0 01-2-2v-3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M7 9.5a.5.5 0 01.707 0L10 11.793 12.293 9.5a.5.5 0 01.707.707l-2.646 2.647a.5.5 0 01-.708 0L7 10.207A.5.5 0 017 9.5z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M10 3a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 0110 3z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/product/build-your-own-drone" class="relative block border border-gray-100 pt-8">
                        <button type="button" name="wishlist" class="absolute p-2 pt-1 text-white bg-black hover:bg-gray-800 rounded-full right-4 top-4">
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                            </svg>
                        </button>
            
                        <img alt="Ibis -- Concrete Games Browser" class="object-contain w-full h-56" src="https://blazed.sirv.com/ibis/blazed-systems.jpg?w=250&h=250" />
            
                        <div class="p-6">
                            <p class="text-sm font-medium uppercase text-gray-600">
                            Games - Browser
                            </p>
                
                            <h5 class="mt-1 text-lg font-bold">
                            Awesome RPG Game
                            </h5>
                
                            <button name="add" type="button" class="flex items-center justify-center w-full px-6 py-2 mt-10 bg-blue-700 hover:bg-blue-800 text-white rounded-sm">
                            <span class="text-sm font-medium">
                                Play
                            </span>
                            <svg class="w-5 h-5 ml-2" width="22" height="22" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.596 10.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V6.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
                            </svg>
                            </button>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/product/build-your-own-drone" class="relative block border border-gray-100 pt-8">
                        <button type="button" name="wishlist" class="absolute p-2 pt-1 text-white bg-black hover:bg-gray-800 rounded-full right-4 top-4">
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                            </svg>
                        </button>

                        <img alt="Ibis -- Blazed [CC] Software Development Library" class="object-contain w-full h-56" src="https://blazed.sirv.com/ibis/blazed-cc.jpg?w=250&h=250" />
                    
                        <div class="p-6">
                            <p class="text-sm font-medium uppercase text-gray-600">
                                Dev - php
                            </p>
                            <h5 class="mt-1 text-lg font-bold">
                                Awesome Dev Library
                            </h5>
                            <button type="button" class="flex items-center justify-center w-full px-6 py-2 mt-10 bg-gray-700 hover:bg-gray-800 text-white rounded-sm">
                                <span class="text-sm font-medium">
                                    Docs
                                </span>

                                <svg class="w-5 h-5 ml-2" width="22" height="22" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.214 3.072c1.599-.32 3.702-.363 5.14 1.074a.5.5 0 01.146.354v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 012 15.5v-11a.5.5 0 01.276-.447L2.5 4.5l-.224-.447.002-.001.004-.002.013-.006a5.116 5.116 0 01.22-.103 12.958 12.958 0 012.7-.869zM3 4.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V4.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 003 4.82z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M14.786 3.072c-1.598-.32-3.702-.363-5.14 1.074A.5.5 0 009.5 4.5v11a.5.5 0 00.854.354c.844-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0018 15.5v-11a.5.5 0 00-.276-.447L17.5 4.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM17 4.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.386-.023-3.426.56V4.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0117 4.82z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/product/build-your-own-drone" class="relative block border border-gray-100 pt-8">
                        <button type="button" name="wishlist" class="absolute p-2 pt-1 text-white bg-black hover:bg-gray-800 rounded-full right-4 top-4">
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                            </svg>
                        </button>
                
                        <img alt="Ibis -- Blazed [SPACE] Distributed Software" class="object-contain w-full h-56" src="https://blazed.sirv.com/ibis/blazed-space.jpg?w=250&h=250" />
                
                        <div class="p-6">
                            <p class="text-sm font-medium uppercase text-gray-600">
                                Applications - Desktop
                            </p>
                            <h5 class="mt-1 text-lg font-bold">
                                Awesome Desktop App
                            </h5>
                            <button name="add" type="button" class="flex items-center justify-center w-full px-6 py-2 mt-10 bg-purple-700 hover:bg-purple-800 text-white rounded-sm">
                                <span class="text-sm font-medium">
                                    Download
                                </span>
                                <svg class="w-5 h-5 ml-2" width="22" height="22" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.5 10a.5.5 0 01.5.5V14a1 1 0 001 1h12a1 1 0 001-1v-3.5a.5.5 0 011 0V14a2 2 0 01-2 2H4a2 2 0 01-2-2v-3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M7 9.5a.5.5 0 01.707 0L10 11.793 12.293 9.5a.5.5 0 01.707.707l-2.646 2.647a.5.5 0 01-.708 0L7 10.207A.5.5 0 017 9.5z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M10 3a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 0110 3z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </div>
                    </a>
                </article>
            </div>
        </div>
        <div class="more-button mt-10">
            <a href="/software/by-user/{{ user.name | removeSpaces }}" class="px-8 py-3 font-semibold rounded bg-gray-700 hover:bg-gray-800 text-white">
                <i>
                    <svg width="25" height="25" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 4.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H4zM5 5H4v1h1V5z" clip-rule="evenodd"/>
                        <path d="M7 5.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM7.5 9a.5.5 0 000 1h9a.5.5 0 000-1h-9zm0 4a.5.5 0 000 1h9a.5.5 0 000-1h-9z"/>
                        <path fill-rule="evenodd" d="M3.5 9a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5V9zM4 9h1v1H4V9zm0 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5H4zm1 .5H4v1h1v-1z" clip-rule="evenodd"/>
                    </svg>
                </i>
                View All Software
            </a>
        </div>
    </section>
    
    <br />
    <br />

    <section class="mb-10" id="user-profile-publications">
        <div class="relative max-w-3xl mx-auto text-center">
            <span class="absolute inset-x-0 h-px -translate-y-1/2 bg-black top-1/2"></span>
    
            <h2 id="documents" class="relative inline-block px-4 text-2xl font-bold text-center bg-white">
                <i>
                    <svg class="mb-1" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.214 3.072c1.599-.32 3.702-.363 5.14 1.074a.5.5 0 01.146.354v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 012 15.5v-11a.5.5 0 01.276-.447L2.5 4.5l-.224-.447.002-.001.004-.002.013-.006a5.116 5.116 0 01.22-.103 12.958 12.958 0 012.7-.869zM3 4.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V4.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 003 4.82z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M14.786 3.072c-1.598-.32-3.702-.363-5.14 1.074A.5.5 0 009.5 4.5v11a.5.5 0 00.854.354c.844-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0018 15.5v-11a.5.5 0 00-.276-.447L17.5 4.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM17 4.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.386-.023-3.426.56V4.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0117 4.82z" clip-rule="evenodd"/>
                    </svg>
                </i>
                Published Documents
            </h2>
        </div>
        <ul class="p-4 lg:p-8">
            <li>
                <article class="hover:bg-gray-100">
                    <a rel="noopener noreferrer" href="#" class="grid p-4 overflow-hidden md:grid-cols-5 rounded-xl lg:p-6 xl:grid-cols-12 hover:dark:bg-coolGray-900">
                        <h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9">Earum at ipsa aliquid quis, exercitationem est.</h3>
                        <time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 dark:text-coolGray-400">Oct 13, 2020</time>
                        <p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 dark:text-coolGray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique saepe exercitationem numquam, labore necessitatibus deleniti quasi. Illo porro nihil necessitatibus debitis delectus aperiam, fuga impedit assumenda odit, velit eveniet est.</p>
                    </a>
                </article>
            </li>
            <li>
                <article class="hover:bg-gray-100">
                    <a rel="noopener noreferrer" href="#" class="grid p-4 overflow-hidden md:grid-cols-5 rounded-xl lg:p-6 xl:grid-cols-12 hover:dark:bg-coolGray-900">
                        <h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9">Earum at ipsa aliquid quis, exercitationem est.</h3>
                        <time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 dark:text-coolGray-400">Oct 13, 2020</time>
                        <p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 dark:text-coolGray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique saepe exercitationem numquam, labore necessitatibus deleniti quasi. Illo porro nihil necessitatibus debitis delectus aperiam, fuga impedit assumenda odit, velit eveniet est.</p>
                    </a>
                </article>
            </li>
            <li>
                <article class="hover:bg-gray-100">
                    <a rel="noopener noreferrer" href="#" class="grid p-4 overflow-hidden md:grid-cols-5 rounded-xl lg:p-6 xl:grid-cols-12 hover:dark:bg-coolGray-900">
                        <h3 class="mb-1 ml-8 font-semibold md:col-start-2 md:col-span-4 md:ml-0 xl:col-start-3 xl:col-span-9">Earum at ipsa aliquid quis, exercitationem est.</h3>
                        <time datetime="" class="row-start-1 mb-1 md:col-start-1 xl:col-span-2 dark:text-coolGray-400">Oct 13, 2020</time>
                        <p class="ml-8 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9 md:ml-0 dark:text-coolGray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique saepe exercitationem numquam, labore necessitatibus deleniti quasi. Illo porro nihil necessitatibus debitis delectus aperiam, fuga impedit assumenda odit, velit eveniet est.</p>
                    </a>
                </article>
            </li>
        </ul>
        <div class="more-button">
            <a href="/documents/by-author/{{ user.name | removeSpaces }}" class="px-8 py-3 font-semibold rounded bg-gray-700 hover:bg-gray-800 text-white">
                <i>
                    <svg width="25" height="25" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H4zM5 5H4v1h1V5z" clip-rule="evenodd"/>
                        <path d="M7 5.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM7.5 9a.5.5 0 000 1h9a.5.5 0 000-1h-9zm0 4a.5.5 0 000 1h9a.5.5 0 000-1h-9z"/>
                        <path fill-rule="evenodd" d="M3.5 9a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5V9zM4 9h1v1H4V9zm0 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5H4zm1 .5H4v1h1v-1z" clip-rule="evenodd"/>
                    </svg>
                </i>
                Browse Documents
            </a>
        </div>
    </section>

    <br />
    <br />

    <section class="mb-10" id="user-profile-publications">
        <div class="relative max-w-3xl mx-auto text-center">
            <span class="absolute inset-x-0 h-px -translate-y-1/2 bg-black top-1/2"></span>
    
            <h2 id="films" class="relative inline-block px-4 text-2xl font-bold text-center bg-white">
                <i>
                    <svg class="mb-1" width="30" height="30" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.667 5.5c-.645 0-1.167.522-1.167 1.167v6.666c0 .645.522 1.167 1.167 1.167h6.666c.645 0 1.167-.522 1.167-1.167V6.667c0-.645-.522-1.167-1.167-1.167H4.667zM2.5 6.667C2.5 5.47 3.47 4.5 4.667 4.5h6.666c1.197 0 2.167.97 2.167 2.167v6.666c0 1.197-.97 2.167-2.167 2.167H4.667A2.167 2.167 0 012.5 13.333V6.667z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M13.25 7.65l2.768-1.605a.318.318 0 01.482.263v7.384c0 .228-.26.393-.482.264l-2.767-1.605-.502.865 2.767 1.605c.859.498 1.984-.095 1.984-1.129V6.308c0-1.033-1.125-1.626-1.984-1.128L12.75 6.785l.502.865z" clip-rule="evenodd"/>
                    </svg>
                </i>
                Uploaded Films
            </h2>
        </div>
        <div class="grid grid-cols-1 mt-8 md:grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-8">
            <article class="p-6 bg-white sm:p-8 rounded-xl ring ring-indigo-50">
                <div class="flex items-start">
                <div
                    class="hidden sm:grid sm:h-20 sm:w-20 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:border-indigo-500"
                    aria-hidden="true"
                >
                    <div class="flex items-center gap-1">
                    <span class="h-8 w-0.5 rounded-full bg-indigo-500"></span>
                    <span class="h-6 w-0.5 rounded-full bg-indigo-500"></span>
                    <span class="h-4 w-0.5 rounded-full bg-indigo-500"></span>
                    <span class="h-6 w-0.5 rounded-full bg-indigo-500"></span>
                    <span class="h-8 w-0.5 rounded-full bg-indigo-500"></span>
                    </div>
                </div>
            
                <div class="sm:ml-8">
                    <strong
                    class="rounded border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white"
                    >
                    Episode #101
                    </strong>
            
                    <h2 class="mt-4 text-lg font-medium sm:text-xl">
                    <a href="" class="hover:underline"> Some Interesting Podcast Title </a>
                    </h2>
            
                    <p class="mt-1 text-sm text-gray-700">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nulla
                    amet voluptatum sit rerum, atque, quo culpa ut necessitatibus eius
                    suscipit eum accusamus, aperiam voluptas exercitationem facere aliquid
                    fuga. Sint.
                    </p>
            
                    <div class="mt-4 sm:flex sm:items-center sm:gap-2">
                    <div class="flex items-center text-gray-500">
                        <svg
                        class="w-4 h-4"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                        </svg>
                        <p class="ml-1 text-xs font-medium">48:32 minutes</p>
                    </div>
            
                    <span class="hidden sm:block" aria-hidden="true">&middot;</span>
            
                    <p class="mt-2 text-xs font-medium text-gray-500 sm:mt-0">
                        Featuring <a href="" class="underline hover:text-gray-700">Barry</a>,
                        <a href="" class="underline hover:text-gray-700">Sandra</a> and
                        <a href="" class="underline hover:text-gray-700">August</a>
                    </p>
                    </div>
                </div>
                </div>
            </article>
            <article class="p-6 bg-white sm:p-8 rounded-xl ring ring-indigo-50">
                <div class="flex items-start">
                  <div
                    class="hidden sm:grid sm:h-20 sm:w-20 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:border-indigo-500"
                    aria-hidden="true"
                  >
                    <div class="flex items-center gap-1">
                      <span class="h-8 w-0.5 rounded-full bg-indigo-500"></span>
                      <span class="h-6 w-0.5 rounded-full bg-indigo-500"></span>
                      <span class="h-4 w-0.5 rounded-full bg-indigo-500"></span>
                      <span class="h-6 w-0.5 rounded-full bg-indigo-500"></span>
                      <span class="h-8 w-0.5 rounded-full bg-indigo-500"></span>
                    </div>
                  </div>
              
                  <div class="sm:ml-8">
                    <strong
                      class="rounded border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white"
                    >
                      Episode #101
                    </strong>
              
                    <h2 class="mt-4 text-lg font-medium sm:text-xl">
                      <a href="" class="hover:underline"> Some Interesting Podcast Title </a>
                    </h2>
              
                    <p class="mt-1 text-sm text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nulla
                      amet voluptatum sit rerum, atque, quo culpa ut necessitatibus eius
                      suscipit eum accusamus, aperiam voluptas exercitationem facere aliquid
                      fuga. Sint.
                    </p>
              
                    <div class="mt-4 sm:flex sm:items-center sm:gap-2">
                      <div class="flex items-center text-gray-500">
                        <svg
                          class="w-4 h-4"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                          ></path>
                        </svg>
                        <p class="ml-1 text-xs font-medium">48:32 minutes</p>
                      </div>
              
                      <span class="hidden sm:block" aria-hidden="true">&middot;</span>
              
                      <p class="mt-2 text-xs font-medium text-gray-500 sm:mt-0">
                        Featuring <a href="" class="underline hover:text-gray-700">Barry</a>,
                        <a href="" class="underline hover:text-gray-700">Sandra</a> and
                        <a href="" class="underline hover:text-gray-700">August</a>
                      </p>
                    </div>
                  </div>
                </div>
              </article>
          </div>
    
        <div class="more-button mt-10">
            <a href="/films/by-author/{{ user.name | makeUrlSafe }}" class="px-8 py-3 font-semibold rounded bg-gray-700 hover:bg-gray-800 text-white">
                <i>
                    <svg width="25" height="25" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5V5a.5.5 0 00-.5-.5H4zM5 5H4v1h1V5z" clip-rule="evenodd"/>
                        <path d="M7 5.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM7.5 9a.5.5 0 000 1h9a.5.5 0 000-1h-9zm0 4a.5.5 0 000 1h9a.5.5 0 000-1h-9z"/>
                        <path fill-rule="evenodd" d="M3.5 9a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5V9zM4 9h1v1H4V9zm0 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5H4zm1 .5H4v1h1v-1z" clip-rule="evenodd"/>
                    </svg>
                </i>
                Browse Films
            </a>
        </div>
    </section>

</ng-container>

<div class="h-1 bg-gray-200 rounded overflow-hidden"></div>